@model IEnumerable<IGrouping<Student_Demo.Models.Location, Student_Demo.Models.Department>>

@{
    ViewData["Title"] = "Index";
}

<style>
    .button {
        background-color: #00BFFF;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .create-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #00BFFF;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #00BFFF;
        border-radius: 5px;
    }
</style>

<h2>Departments</h2>

<p>
    <a asp-action="Create" class="create-button">Create New</a>
    <div>
        <a href="@Url.Action("Index", "Students")" class="button">Students</a>
        <a href="@Url.Action("Index", "Locations")" class="button">Locations</a>
    </div>
</p>

@Html.Partial("_DepartmentPartial", Model)
